<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <fieldset>
            <legend>Registration</legend>
            <label for="register">Press the button to sign up: </label>
                <a id="register" href="/register"><button>Button</button></a>
        </fieldset>
        <br><br>
        <fieldset>
            <legend>Login</legend>
            <label for="login">Press the button to Log in: </label>
                <a id="login" href="/login"><button>Button</button></a>
        </fieldset>
</body>
</html>